.highlighted  
    .row
        .col-md-8.left
            a(href='#')
                .highlight
                    .highlight-body
                        img.highlight-image.img-fluid(src='https://blog.rocketseat.com.br/content/images/2019/06/Datas-e-hora-rios-no-JavaScript-com-date-fns--adeus-moment-.png')
                        .highlight-info
                            p.highlight-info-title Começando com Adonis.js
                            p.highlight-info-desc 5 projetos diferentes para você aprender a usar a framework!

        
        
        .col-md-4
            .col-md-12
                a(href='#')
                    .highlight
                        .highlight-body
                            img.highlight-image.img-fluid(src='https://blog.rocketseat.com.br/content/images/2019/05/Latest.png')
                            .highlight-info
                                p.highlight-info-title Crie sua loja do zero com WooCommerce
                            
            .col-md-12.third
                a(href='#')
                    .highlight
                        .highlight-body
                            img.highlight-image.img-fluid(src='https://blog.rocketseat.com.br/content/images/2019/05/Acessibilidade.png')
                            .highlight-info
                                p.highlight-info-title Como escolher a melhor linguagem       