.card.my-4.tags
  .card-header 
    h2 Tags
  .card-body
    ul
      - if(allTags.length > 0)
        each tag in allTags.split(',').slice(0, 10)
          a.tag(href="/tags/"+tag)
            li= tag

// Discord Widget
.card.my-4
  .discord-widget
    .card-header
      h2 Discord
      #members-count
    .card-body
      .discord-body
        .discord-list
          table#members-list
        a(onclick="javascript:window.open('https://discord.gg/EhjgQ24'); return false;")
        button.discord-btn
          span Participe jรก


// Side Widget
.card.my-4
  h5.card-header Side Widget
  .card-body
    | You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
