- if (comment)
  - const name = comment.user.name || comment.user.username
    a(href="/users/"+comment.user._id)= name
    |  :&nbsp;
    = comment.body.slice(0, 1000)

    form.form-inline(role="form" method="post" action="/articles/" + article._id + "/comments/" + comment._id, onsubmit="return confirm('Você tem certeza?')")
      input(type='hidden' name='_csrf', value=csrf_token)
      span.text-muted= formatDate(comment.createdAt)
      - if (user._id.equals(comment.user._id))
          input(type="hidden" name="_method" value="DELETE")
          button.btn.btn-link.text-danger(type="submit") Deletar 