- const logged = user ? (user.name ? user.name : user.username) : null

- if (logged)
    form(method="post", action=`/articles/${article._id}/comments`, role="form")
        input(type='hidden', name='_csrf', value=csrf_token)
        .form-group
            textarea.form-control(type='text', rows="6", name="body", placeholder='Adicione um comentário')
            button.btn.btn-primary(type='submit') Enviar
- else 
    form(role = "form")
        textarea.form-control(type='text', rows="6", placeholder='Você precisa estar logado para comentar!', disabled, style={resize: 'none', margin: '5px 0px;'})
        a.btn.btn-primary(href='/login') Login