/* Show it is fixed to the top */

body {
  background-color: #F7F8FA;
  padding-top: 4rem;
  font-family: 'Montserrat', sans-serif;
}


.fixed .sticky-top {
  background-color: #F7F8FA !important;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all 0.45s ease-in;
}

.sticky-top {
  transition: all 0.25s ease-in;
}

nav {
  margin-bottom: 4rem;
}

nav .nav-link {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
}

nav .dropdown-menu {
  -webkit-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.5);
  border: 0;
}

.highlighted img {
  border-radius: 5px;
}

.highlighted .col-md-8 {
  padding-right: 0 !important;
  border-radius: 5px;
}

.highlighted .col-md-4 {
  border-radius: 5px;
  padding-left: 0 !important;
}

.highlighted .col-md-4 .col-md-12 {
  padding-right: 0;
}

.highlighted .col-md-4 .third {
  margin-top: 25px;
  padding-right: 0;
}

.highlighted .highlight {
  border: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

.highlighted .highlight .highlight-image {
  width: 100%;
  height: 100%;
  transition: transform .3s;
}

.highlighted .highlight .highlight-info {
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to bottom, rgba(19, 165, 196, 0) 0%, rgba(19, 165, 196, 0) 40%, rgba(0, 0, 0, 0.65) 89%, rgba(0, 0, 0, 0.75) 100%);
}

.highlighted .left .highlight .highlight-info .highlight-info-title {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}

.highlighted .left .highlight .highlight-info .featured-info-desc {
  font-size: 22px;
  font-weight: 300;
}

.highlighted .highlight .highlight-info .highlight-info-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}


/* floating labels */

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }

  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}