/* Show it is fixed to the top */

body {
  background-color: #F7F8FA;
  padding-top: 4rem;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

::-moz-selection {
  background: #64C9FF;
}

::selection {
  background: #64C9FF;
}

/* NAVBAR */

.fixed .sticky-top {
  background-color: #F7F8FA !important;
  position: fixed;
  width: 100vw;
  top: 0;
  transition: all 0.45s ease-in;
}

.sticky-top {
  transition: all 0.25s ease-in;
}

.nav-handler {
  display: flex;
  height: 200px;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}

nav {
  margin-bottom: 4rem;
}

nav .nav-link {
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0px 10px;
}

nav .dropdown-menu {
  -webkit-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.5);
  border: 0;
}

/* SEARCH */

#search input[type=search] {
  background: url(https://i.imgur.com/FJH8m4B.png) no-repeat 5px center;
  border: 0;
  background-size: 30px;
  padding: 9px 10px 9px 32px;
  width: 30px;
  cursor: pointer;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 3em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

#search input[type=search]:hover {
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.1);
  border: 0;
}

#search input[type=search]:focus {
  width: 230px;
  padding-left: 40px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  outline: none;
  -webkit-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.1);
  border: 0;
}

#search input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

#search input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
#search input[type="search"]::-webkit-search-decoration,
#search input[type="search"]::-webkit-search-cancel-button,
#search input[type="search"]::-webkit-search-results-button,
#search input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


/* END SEARCH */

/* END NAVBAR */

/* HIGHLIGHT */

.highlighted img {
  border-radius: 5px;
}

.highlighted .col-md-8 {
  padding-right: 0 !important;
  border-radius: 5px;
}

.highlighted .col-md-4 {
  border-radius: 5px;
  padding-left: 0 !important;
}

.highlighted .col-md-4 .col-md-12 {
  padding-right: 0;
}

.highlighted .col-md-4 .third {
  margin-top: 25px;
  padding-right: 0;
}

.highlighted .highlight {
  border: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.highlighted .highlight .highlight-image {
  width: 100%;
  height: 100%;
  transition: transform .3s;
  border-radius: 5px;
}

.highlight:hover .highlight-image {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  border-radius: 5px;
}

.highlighted .highlight .highlight-info {
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(to bottom, rgba(19, 165, 196, 0) 0%, rgba(19, 165, 196, 0) 40%, rgba(0, 0, 0, 0.65) 89%, rgba(0, 0, 0, 0.75) 100%);
}

.highlighted .left .highlight .highlight-info .highlight-info-title {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}

.highlighted .left .highlight .highlight-info .featured-info-desc {
  font-size: 22px;
  font-weight: 300;
}

.highlighted .highlight .highlight-info .highlight-info-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}

/* END HIGHLIGHT */

/* WIDGETS */

.card {
  border: 0;
  -webkit-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
}

/* DISCORD */

.discord-widget {
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  /* padding-bottom: 40px; */
}

.card-header {
  position: relative;
  height: 70px;
  background-color: transparent !important;
  border: 0;
}

.card-header h2 {
  font-weight: 800;
  font-size: 20px;
  display: inline-block;
  line-height: 2.3;
}

.discord-body {
  height: 100%;
  position: relative;
}

.discord-list {
  position: relative;
  width: 100%;
  max-height: 210px;
  display: inline-block;
  margin-top: 10px;
  overflow: hidden;
}

.discord-list:hover {
  overflow: auto;
}

.discord-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.discord-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
.discord-list::-webkit-scrollbar-thumb {
  background: #64C9FF;
  border-radius: 5px;
  transition: all ease-in-out .3s;
}

/* Handle on hover */
.discord-list::-webkit-scrollbar-thumb:hover {
  background: rgb(86, 174, 221);
  border-radius: 5px;
  transition: all ease-in-out .3s;
}

#members-count {
  font-size: 14px;
  font-weight: 800;
  display: inline-block;
  float: right;
  line-height: 3.4;
}

.member-label {
  font-weight: normal;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

#members-list img {
  width: 20px;
  border-radius: 50%;
}

.member-avatar {
  padding-right: 7px;
}

#members-list td.member-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  table-layout: fixed;
}

/* Workaround, if page has colliding rules */
.discord-widget *>tr {
  background-color: transparent !important;
}

.discord-btn {
  margin-top: 10px;
  background-color: transparent;
  border: 0;
  width: 100%;
  text-align: center;
}

.discord-btn span {
  background-color: #64c9ff;
  color: #fff;
  padding: 7px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  max-height: 35px;
  transition: all ease-in-out .3s;
}

.discord-btn:hover span {
  -webkit-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out .3s;
  box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.3);
}


@-webkit-keyframes pulse {
  0% {
    opacity: .3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .3;
  }
}

@-moz-keyframes pulse {
  0% {
    opacity: .3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .3;
  }
}

@-o-keyframes pulse {
  0% {
    opacity: .3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .3;
  }
}

@keyframes pulse {
  0% {
    opacity: .3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .3;
  }
}

/* END DISCORD */

/* TAGS */

.tags .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 1.25rem;
}

.tags .card-body ul {
  list-style: none;
  padding: 0;
}

.tags .card-body ul a {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  margin: 5px;
  background-color: #5bb8ea;
  padding: 8px;
  font-weight: 700;
  border-radius: 5px;
  font-size: 14px;
  text-transform: capitalize;
  transition: all ease-in-out .3s;
}

.tags .card-body ul a:hover {
  background-color: #54aad8;
  -webkit-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 12px -3px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out .3s;
}

/* END TAGS */

/* END WIDGETS */

/* floating labels */

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }

  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/* FOOTER */

.footer {
  margin-top: 40px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.footer .container {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3rem 0;
}

/* END FOOTER */

/* NOT FOUND 404 */

.not-found .card {
  border: 0;
}

.not-found h1 {
  font-size: 100px;
  font-weight: 800;
}

.not-found h1 span.text-info {
  color: #64c9ff;
}

/* END NOT FOUND 404 */

/* POST */

.article .post-img {
  border-radius: 5px;
}

.article blockquote {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 10px 0;
  padding: 50px 18% 30px 30px;
  font-size: 24px;
  line-height: 30px;
  text-align: justify;
  quotes: none;
  font-weight: 800;
  box-sizing: border-box;
  color: #fff;
  background-color: #54aad8;
  border-radius: 3px;
}

.article blockquote:after {
  content: url(../images/quote.svg);
  position: absolute;
  right: 40px;
  top: 53px;
  width: 70px;
}

/* END POST */