extends ../layouts/default

block main
  include ../includes/highlighted.pug

block content
  - if (articles.length)
    each article, index in articles
      div(class=`py-4 ${index && 'border-top'}`)
        include article

    - if (pages > 1)
      ul.pagination
        - var arr = paginate({ currentPage: page, totalPages: pages })
        each item in arr
          li.page-item(class=item.isActive && item.type === 'PAGE' && 'active')
            a.page-link(href=`?page=${item.value}`)
              case item.type
                when 'FIRST_PAGE_LINK': | Primeira
                when 'PREVIOUS_PAGE_LINK': | Anterior
                when 'PAGE': =item.value
                when 'ELLIPSIS': | ...
                when 'NEXT_PAGE_LINK': | Próximo
                when 'LAST_PAGE_LINK': | Última          
  - else
    h4.text-muted Não temos nenhuma postagem ainda.&nbsp;
      a(href="/articles/new") Crie uma!
