extends ../layouts/default

block vars
  - var widgets = false

block main
  center
    h1= title

block content

  .login
    block auth
  .text-center.my-4
    a(href="/auth/github")
      i.fab.fa-github-square.fa-3x.mx-3
    a(href="/auth/discord")
      i.fab.fa-discord.fa-3x.mx-3



