extends auth

block vars
  - var widgets = false

block auth
  form.form-signin(action="/users/session", method="post", role="form")
    input(type="hidden", name="_csrf", value=csrf_token)

    p.col-sm-offset-2.error= message

    .form-label-group
      input#username.form-control(type='text' name='username' placeholder='Insira o seu usuário' required='' autofocus='')
      label(for='username') Usuário
    .form-label-group
      input#password.form-control(type='password' name='password' placeholder='Insira sua senha' required='')
      label(for='password') Senha
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Entrar
    .my-3.text-center
      | ou 
      a.show-signup(href="/signup") Registrar
