block vars
  - var widgets = true
  - var header = true
doctype html
html(lang="pt-BR")
  include ../includes/head.pug
  body
    include ../includes/header.pug
    .container
      .page-header
        block main
      .messages
        include ../includes/messages.pug

      - if(widgets)
        .row
          .col-md-8
            .content
              block content
          .col-md-4
            include ../includes/widgets.pug
      - else
          block content
    include ../includes/footer.pug
    include ../includes/foot.pug
